.documentation {
    width: 75%;
    padding-top: 1rem;
    text-align: justify; /* Center the text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }